@import '@fontsource/jetbrains-mono/index.css';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #d5d4d4;
  font-family: 'JetBrains Mono', monospace;
  color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden; /* Ocultar barra de desplazamiento */
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* Permitir desplazamiento vertical */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en WebKit (Chrome, Safari) */
}

.binaria-logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-top: 15px;
}

@media (max-width: 600px) {
  .binaria-logo {
    max-width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .binaria-logo {
    max-width: 300px;
  }
}

@media (min-width: 1201px) {
  .binaria-logo {
    max-width: 350px;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fade-in {
  animation: fadeIn 1.5s forwards;
}

.fade-out {
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 0.5em 0;
}