/* App.css */

/* Estilos generales y existentes */
@import '@fontsource/jetbrains-mono/index.css';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  overflow: hidden; /* Ocultar scroll */
  cursor: url('/src/assets/pointer.png'), auto; /* Utiliza la imagen pointer.png como cursor */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/bg2.webp') no-repeat center center fixed; /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  opacity: 0.2; /* Opacidad del 90% blanco */
  background-color: rgb(255, 255, 255); /* Color blanco para la opacidad */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden; /* Ocultar barra de desplazamiento */
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* Permitir desplazamiento vertical */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en WebKit (Chrome, Safari) */
}

.binaria-logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-top: 15px;
}

.subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .binaria-logo {
    max-width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .binaria-logo {
    max-width: 300px;
  }
}

@media (min-width: 1201px) {
  .binaria-logo {
    max-width: 350px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  color: black; /* Asegura que el texto dentro de las tarjetas sea negro */
  text-size-adjust: 50%;
}

.read-the-docs {
  color: #f7f7f7;
}

.fade-in {
  animation: fadeIn 1.5s forwards;
}

.fade-out {
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.footer {
  height: 60px;
  width: 100%;
  color: #333; /* Cambia el color del texto a oscuro */
  text-align: center;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: transparent; /* Elimina el fondo del footer */
  position: absolute; /* Asegura que el footer esté posicionado en la parte inferior */
  bottom: 0; /* Asegura que el footer esté al fondo de la pantalla */
}

.footer-text {
  margin: 0;
  font-size: 0.8em;
}

/* Estilos para el botón de control de audio */
.audio-toggle-button {
  margin-left: 1em;
  padding: 0.3em 1em;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #f4f4f4;
  opacity: 0.5;
  color: #333;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.audio-toggle-button:hover {
  background-color: #ffffff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  body, html {
    font-size: 14px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }

  .footer {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente del footer para pantallas pequeñas */
    padding: 0.5em 0; /* Reduce el padding del footer en pantallas pequeñas */
  }
}

p {
  margin: 20px;
  line-height: 1.6;
  font-size: 1.1rem;
}

a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

.content-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  line-height: 1.2;
}

.section {
  margin: 20px 0;
}

.section p {
  margin: 10px 0;
}

.section a {
  display: inline-block;
  margin-top: 10px;
}

/* Otros estilos existentes */

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 200px); /* Ajusta la altura para dejar espacio al logo y al footer */
  position: relative;
}

.cube-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.ip-info {
  text-align: center; /* Centrar el texto horizontalmente */
  font-size: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'JetBrains Mono', monospace;
  margin: 0 auto; /* Centrar el contenedor */
  display: inline-block; /* Asegurarse de que el contenedor se ajuste a su contenido */
}
/* Loader.css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo más suave */
  z-index: 9999;
  transition: opacity 1s ease-out, visibility 1s ease-out; /* Transición para el desvanecimiento */
  opacity: 1;
  visibility: visible;
}

.spinner {
  border: 8px solid #e0e0e0; /* Bordes más delgados y colores más suaves */
  border-top: 8px solid #8d8d8d; /* Color de acento más suave */
  border-radius: 50%;
  width: 80px; /* Tamaño más pequeño para un aspecto más minimalista */
  height: 80px; /* Tamaño más pequeño para un aspecto más minimalista */
  animation: spin 1.5s linear infinite; /* Animación más rápida y suave */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.fade-out {
  opacity: 0;
  visibility: hidden;
}
/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  body, html {
    font-size: 14px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }

  .footer {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente del footer para pantallas pequeñas */
    padding: 0.5em 0; /* Reduce el padding del footer en pantallas pequeñas */
  }

  body::before {
    opacity: 0.2; /* Opacidad más clara para pantallas pequeñas */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con más transparencia */
  }
}
